{% extends 'base.html.twig' %}

{%  block body %}
    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-3">

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Tableau de bord</h3>
                        </div>
                        <ul class="list-group">
                            <a href="{{ path('tableauidentite') }}" class="list-group-item">Identité</a>
                            <a href="{{ path('tableaumail') }}" class="list-group-item">E-mail</a>
                            <a href="{{ path('tableaupassword') }}" class="list-group-item">Mot de passe</a>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.col-md-9 -->
        <div class="col-md-9">

            <div class="well">
                <form method="post" action="{{ path('modifpassword') }}" class="form-horizontal">
                    <fieldset>
                        <legend>Modifier le mot de passe</legend>
                        <div class="form-group">
                            <label for="inputPassword" class="col-md-4">Mot de passe</label>
                            <div class="col-md-8">
                                <input class="form-control" id="inputPassword" placeholder="Mot de passe" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputValidepassword" class="col-md-4">Nouveau</label>
                            <div class="col-md-8">
                                <input class="form-control" id="inputValidepassword" placeholder="Nouveau" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputValidepasswordconfirm" class="col-md-4">Confirmation</label>
                            <div class="col-md-8">
                                <input class="form-control" name="password" id="inputValidepasswordconfirm" placeholder="Confirmation" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>


        </div>
    </div>
    <!-- /.row -->



{% endblock %}